<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AddressBook : Confirm</title>
</head>
<body>

    <table border="1" cellpadding="10">
        <tr>
            <td colspan="2"><h1>Welcome to the Address Book Project</h1></td>
        </tr>
        <tr>
            <td valign="top" bgcolor="#ccc" width="200">
                <a href="/home">Home</a><br><br>
                <a href="/add">Add Contact</a><br><br>
                <a href="/list">List Contacts</a><br><br>
                <br>
                <a href="/about">About</a>

            </td>
            <td valign="top">
                Contact {{ operation }} successfully!
            </td>
        </tr>
    </table>
</body>
</html>